@use "../abstract/" as *;

.xmb-title{
    &.games{
        @include displayInactive;
        margin-left: 18px;
        &.active{
            margin-left: 20px;
            transition: all 300ms ease-in-out;
            @include displayActive;
        }
    }
}
